body{
    background: rgb(241, 233, 233);
}
.reg{
    font-size: 19px;
    color: rgb(35, 35, 185);
}
#pretpl{
    color: rgb(223, 214, 197);
}
.registr{
    box-sizing: content-box;  
    width: 300px;
    height: 130px;
    padding: 30px; 
    border: medium outset white;
    position: relative;
}
.button{
    background-color:white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.kl{
    box-sizing: content-box;  
    width: 300px;
    height: 130px;
    padding: 30px; 
    border: medium outset white;
    background-color:rgb(233, 236, 247);
}